* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
}

.container {
    background-color: white;
    padding: 25px;
    
}

.timer {
    margin-bottom: 50%;
    margin-left: 83%;
    font-size: 77%;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.hide {
    display: none;
}



